<h2>Popular Products</h2>
<br>

    <% @products.each do |product| %>
        <div class="row">
        <div class ="col-md-4">
          <%= image_tag product.desc,size: "100*100" ,alt: "http://localhost:3000/img/shoppingcart13.png" %>       

        </div>
        <div class = "col-md-8">
          
          <h4><b><%= product.product_name %></b></h4>

          <div class = "col-md-6">
            
            <label>Category:</label><%= product.category %>
             <%= button_to 'Buy Now', product ,{class: "btn btn-default",:method => :get} %>
        
          </div>
          <br>
          <%= product.rating %>
         </div>
        </div>
        <br>

       
        <br>
        <hr>
    <% end %>
  </tbody>
</table>

<br>

