<p id="notice"><%= notice %></p>

<p>
  <strong>Shopid:</strong>
  <%= @transaction.shopId %>
</p>

<p>
  <strong>Content:</strong>
  <table>
  	<tr>
  	  <th>Product</th>
  	  <th>Seller</th>
      <th>Count</th>
  	  <th>Cost</th>
  	</tr>
  	<% (0...@prods.length).each do |i| %>
  	<tr>
  		<td><%= @prods[i] %></td>
  		<td><%= @shops[i] %></td>
  		<td><%= @counts[i] %></td>
      <td><%= @costs[i] %></td>
  	</tr>
  	<% end %>
  </table>
</p>

<p>
  <strong>Totalcost:</strong>
  <%= @transaction.totalCost %>
</p>

<!-- <p>
  <strong>Duedate:</strong>
  <%= @transaction.dueDate %>
</p> -->

<%= link_to 'Back', transactions_path %>
