<script>
<% if shop_signed_in? %>
function addProductSeller()
{
	var unitSize=document.getElementById("unitSize").value;
	var unitCost=document.getElementById("unitCost").value;
	var stockCur=document.getElementById("stockCur").value;
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
 		 xmlhttp=new XMLHttpRequest();
  	}
	else
	{
 	 	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.open("GET","/products/addProductSeller?id=<%= @product.id %>&unitSize="+unitSize+"&unitCost="+unitCost+"&stockCur="+stockCur,true);
	xmlhttp.send(null);
	xmlhttp.onreadystatechange=function()
 	{
 	 	if(xmlhttp.readyState==4 && xmlhttp.status==200)
     	{
    		document.getElementById("subSucc").innerHTML="Success!";
   		}
    }
}
function addToKart()
{
	var cUsr=<%= current_shop.id %>;
	var cPrd=<%= @product.id %>;
	var prodList=localStorage.getItem("prodsOfU"+cUsr);
	if(prodList==null || prodList==undefined || prodList=="")prodList=[];
	else prodList=JSON.parse(prodList);
	var curProd=[];
	curProd.push(cPrd);
	curProd.push(document.getElementById("countBuy").value);
	curProd.push(document.getElementById("sellShop").value);
	prodList.push(curProd);
	localStorage.setItem("prodsOfU"+cUsr,JSON.stringify(prodList));
	document.getElementById("addSucc").innerHTML="Success!";
}
<% end %>
</script>
<p id="notice"><%= notice %></p>

<p>
  
  <span id="prodName"><h3><%= @product.product_name %></h3></span>
</p>

<p>
  <%= image_tag @product.desc,size: "200*200" ,alt: "http://localhost:3000/img/shoppingcart13.png" %> 
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>
<br /><br />
<% if @sellers.present? %>
<h4>Current Sellers</h4>
<table>
<tr>
<th>Shop Name</th>
<th>Size Of Unit</th>
<th>Cost Per Unit</th>
<th>Current Stock</th>
</tr>
<% @sellers.each do |s| %>
<tr>
<td><%= Shop.where(:id => s.shopId)[0].shop_name %></td>
<td><%= s.unitSize %></td>
<td><%= s.unitCost %></td>
<td><%= s.stockCur %></td>
</tr>
<% end %>
</table>
<br /><br />
<% end %>
<% if shop_signed_in? %>
<h3>Do You Also Stock This Product? If So, Fill Out The Form Below</h3>
How Many Pieces Is One Unit?
<input type="number" id="unitSize" placeholder="How Many Pieces Is One Unit?" value="<%= @seller.unitSize if @seller.present? %>" /><br />
How Much Do You Charge For One Unit?
<input type="number" id="unitCost" placeholder="How Much Do You Charge For One Unit?" value="<%= @seller.unitCost if @seller.present? %>" /><br />
How Many Units Do You Currently Have In Stock?
<input type="number" id="stockCur" placeholder="How Many Units Do You Currently Have In Stock?" value="<%= @seller.stockCur if @seller.present? %>" /><br />
<input type="button" value="Submit Form" onclick="addProductSeller();" /><br />
<div id="subSucc"></div>
<br /><br />

<h4>Add To Kart</h4>
<input type="number" id="countBuy" placeholder="How Many Units?" /><br />
<select id="sellShop" placeholder="Who From?">
<% @sellers.each do |s| %>
<% unless s.shopId==current_shop.id %>
<option value="<%= s.shopId %>"><%= Shop.where(:id => s.shopId)[0].shop_name %></option>
<% end %>
<% end %>
</select>
<input type="button" value="Add To Kart" onclick="addToKart();" /><br />
<div id="addSucc"></div>

<% end %>
