<script>
function addProductSeller()
{
	var unitSize=document.getElementById("unitSize").value;
	var unitCost=document.getElementById("unitCost").value;
	var stockCur=document.getElementById("stockCur").value;
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
 		 xmlhttp=new XMLHttpRequest();
  	}
	else
	{
 	 	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.open("GET","/products/addProductSeller?id=<%= @product.id %>&unitSize="+unitSize+"&unitCost="+unitCost+"&stockCur="+stockCur,true);
	xmlhttp.send(null);
	xmlhttp.onreadystatechange=function()
 	{
 	 	if(xmlhttp.readyState==4 && xmlhttp.status==200)
     	{
    		document.getElementById("subSucc").innerHTML="Success!";
   		}
    }
}
function addToKart()
{
	//Set To Local Data The Products And Their Counts, Along With Product Id For Total Cost
	var cUsr=<%= current_shop.id %>;
	var cPrd=<%= @product.id %>;
	var prodList=JSON.parse(localStorage.getItem("prodsOfU"+cUsr));
	if(prodList==null || prodList==undefined)
	{
		prodList=[];
	}
	var curProd=[];
	curProd.push(cPrd);
	curProd.push(document.getElementById("countBuy").value);
	curProd.push(document.getElementById("sellShop").value);
	prodList.push(curProd);
	localStorage.setItem("prodsOfU"+cUsr,JSON.stringify(prodList));
	document.getElementById("addSucc").innerHTML="Success!";
}
</script>
<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <span id="prodName"><%= @product.product_name %></span>
</p>

<p>
  <strong>Shop:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>
<br /><br />
<% if @sellers.present? %>
<h4>Current Sellers</h4>
<% @sellers.each do |s| %>
<%= s.shopId %><br />
<% end %>
<br /><br />
<% end %>
<% if shop_signed_in? %>
<h3>Do You Also Stock This Product? If So, Fill Out The Form Below</h3>
<input type="number" id="unitSize" placeholder="How Many Pieces Is One Unit?" /><br />
<input type="number" id="unitCost" placeholder="How Much Do You Charge For One Unit?" /><br />
<input type="number" id="stockCur" placeholder="How Many Units Do You Currently Have In Stock?" /><br />
<input type="button" value="Submit Form" onclick="addProductSeller();" /><br />
<div id="subSucc" />
<br /><br />
<h4>Add To Kart</h4>
<input type="number" id="countBuy" placeholder="How Many Units?" /><br />
<select id="sellShop" placeholder="Who From?">
<% @sellers.each do |s| %>
<option><%= s.shopId %></option>
<% end %>
</select>
<input type="button" value="Add To Kart" onclick="addToKart();" /><br />
<div id="addSucc" />

<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>